{% extends "flights/base.html" %}

{% block title %}

Flight {{flight.id}}
{% endblock %}

{% block body %}
<h1>FLIGHTS</h1>
<ul>
    <li>Origin: {{flight.origin}} </li>
    <li>destination: {{flight.destination }} </li>
    <li>duration: {{flight.duration}}</li>
    <li> passangers:</li>
    <ul>
    {% for passanger in passengers %}
       <li> {{passanger}}</li>
        {% empty %}
        <li> No passengers </li>
    {% endfor %}
    </ul>
</ul>
<h2> Add a Passenger</h2>
{% if nonpassengers %}
<form action="{% url 'book flight' flight.id %}" method="post">
    {% csrf_token %}
    <select name="passenger">
    {% for passenger in nonpassengers %}
    <option value="{{passenger.id}}">{{passenger}}</option>
    {% endfor %}
         </select>
 <input type="submit" value="Book Flight">
</form>
{% else %}
<div>No Passengers added</div>
{% endif %}
<a href="{% url 'index' %}">Back to original page </a>
{% endblock %}