{% extends "base.html" %}
{% block base %}
{% load static %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'media/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp co-animated">
                <h1 class="mb-0 bread">ABOUT US</h1>
            </div>
        </div>
    </div>
</div>
<section class = "co-section bg-light">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center aboutDetail" style="background-image: url({% static 'media/about.jpg' %});">
            </div>
            <div class = "col-md-7 py-5 wrap-about pb-md-5 fadeInUp co-animated">
                <div class = "heading-section-bold mb-4 mt-md-5">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <h2 class="mb-4">Welcome to Vegefoods an eCommerce website</h2>
                        </div>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Vegefoods.com (Innovative Retail Concepts Private Limited) is America’s largest online grocery store. With over 1,000 products and over a 10 brands in our catalogue you will find everything you are looking for. 
                    Right from fresh Fruits and Vegetables, Beverages, Drie Fruits – we have it all.Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality available at the lowest prices.
                    </p>
                    <p>
                    Enter the details for delivery and your order will be delivered right to your doorstep, anywhere in America.You can pay online using  Paypal account / direct bank transfer or by bank check on delivery.
                    We guarantee on time delivery, and the best quality!
                    </p>
                    <p><a href="{% url 'shop' %}" class="btn btn-primary" >Shop now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class = "co-section testimony-section">
        <div class = "container">
            <div class = "row justify-content-center mb-5 pb-3">
                <div class= "col-md-7 heading-section text-center fadeInUp co-animated">
                    <span class="subheading">Testimony</span>
                    <h2 class="mb-4">Our satisfied customer says</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                </diV>
            </div>
            <div class = "row fadeInUp co-animated">
                <div class = "col-md-12">
                    <div class = "owl-carousel owl-theme">  
                    {% for comment in comments %} 
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">{{comment.comment}}</p>                                                
                                </div>
                            </div>
                        </div>
                    {% endfor %}   
                        <!--<div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>                                                
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>                                                
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>                                                
                                </div>
                            </div>
                        </div>-->            
                    </div>
                </div>
            </div>
        </div>
</section>
<section class = "co-section bg-light">
        <div class = "container">
            <div class = "row no-guters co-services">
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                             <img src="{% static 'media/truck.svg' %}" >
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-2 active d-flex justify-content-center align-items-center mb-2">
                            <img src="{% static 'media/food.svg' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <img src="{% static 'media/award.svg' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-2 active d-flex justify-content-center align-items-center mb-2">
                             <img src="{% static 'media/support.svg' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}