{% extends "base.html" %}
{% block base %}
{% load static %}
{% csrf_token %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'media/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp co-animated">
                <h1 class="mb-0 bread">Login And SignUp</h1>
            </div>
        </div>
    </div>
</div>
<section class = "co-section">
    <div class="container">
        <div class = "row justify-content-center">
            <div class = "col-xl-6 fadeInUp co-animated">
                <div class="cart-detail p-3 p-md-4">
                    <form action="#" class="login-form" id="Login">
                        <h3 class="login-signup-heading mb-4">Login</h3>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="username">UserName</label>
                                <input id="username" name="email" type="text" class="form-control" placeholder="">
                             </div>
                        </div>   
                        <div class="w-100"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="password">Password</label>
                                <input id="firstname" name="password" type="password" class="form-control" placeholder="">
                            </div>
                        </div>            
                        <div class="w-100"></div>               
                        <p><a href="!#" onclick="login(event)" class="btn btn-primary py-3 px-4">Login</a></p>
                    </form>
                </div>                    
            </div>
            <div class = "col-xl-6 fadeInUp co-animated">
                <div class="cart-detail p-3 p-md-4">
                    <form action="#" class="register-form" id="Register">
                        <h3 class="login-signup-heading mb-4">Register</h3>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="username">UserName</label>
                                <input id="username" name="email" type="text" class="form-control" placeholder="">
                             </div>
                        </div>   
                        <div class="w-100"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="password">Password</label>
                                <input id="firstname" name="password" type="password" class="form-control" placeholder="">
                            </div>
                        </div>   
                        <div class="w-100"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="password">Confirm Password</label>
                                <input id="firstname" name="passwordConfirm" type="password" class="form-control" placeholder="">
                            </div>
                        </div>            
                        <div class="w-100"></div>               
                        <p><a href="!#" onclick="register(event)" class="btn btn-primary py-3 px-4">Register</a></p>
                    </form>
                </div>                    
            </div>
        </div>
    </div>
</section>
<section id="ErrorSection" style="display : none">
 <div class = "container">
    <div class = "row align-items-center justify-content-center">
        <div class = "col-xl-12">
          <p>
            <span id="ErrorMessage"> Username or password worng</span>
          </p>
        </div>
    </div>
 </div>
</section>
{% endblock %}