{% extends "base.html" %}
{% block base %}
{% load static %}
{% csrf_token %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'media/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp co-animated">
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>
<section class = "co-section">
    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="!#" onclick = "itemsFilter(event,'All')" class="active">All</a></li>
                    <li><a href="!#" onclick = "itemsFilter(event,'Vegetables')" >Vegetables</a></li>
                    <li><a href="!#" onclick = "itemsFilter(event,'Fruits')" >Fruits</a></li>
                    <li><a href="!#" onclick = "itemsFilter(event,'Juice')" >Juice</a></li>
                    <li><a href="!#" onclick = "itemsFilter(event,'DriedFruits')" >Dried</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% for item in fooditems %} 
                <div class="col-md-6 col-lg-3 fadeInUp co-animated shopItems {{item.ItemTypeName}}">
                    <div class="product">
                        <a href="{% url 'shopitem' item.id %}" class="img-prod" >
                            <img class="img-fluid" src="{{ item.image.url }}" alt="Colorlib Template">
                            {% if item.offer > 0 %}
                            <span class="status">{{item.offer}}% OFF</span>
                            {% endif %}
                            <div class="overlay"></div>
                        </a>
                        <span class="wishlist" onclick="addOrRemoveToWishlist(event,{{item.id}},'add')">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                        </span>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="{% url 'shopitem' item.id %}">{{item.name}}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                    {% if item.offer > 0 %}
                                        <span class="mr-2 price-dc">${{item.price}}</span>
                                        <span class="price-sale">${{item.saleprice}}</span>
                                    {% else %}
                                        <span class="price-sale no-offer">${{item.saleprice}}</span>
                                    {% endif %}                                        
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span onclick="addOrRemoveItemToCart(event,'{{item.name}}','Add',1)">Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}                
        </div>
    </div>
</section>
{% endblock %}