div
{
    border:0.0px black solid;
}

.row
{
    margin:0;
}
div>.row{
    padding:5vh;
    align-items: center;
    
}

h1 {
   padding-bottom:4vh; 
}
#discription{
 text-align: left;
 align-content: center;   
}

#ingredients{
   
}

@media only screen and (max-width: 900px) {
    
    .col-sm-4 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .col-sm-8 {
        max-width:100%;
        flex: 0 0 100%;
    }
  }