<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/singleProduct.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
        <title>VegeFoods</title>
    </head>
    <body>
        <div class="py-1 bg-green" id = "header-data">
            <div class="container">
                <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                    <div class="col-lg-12 d-block">
                        <div class="row d-flex">
                            <div class="col-md pr-4 d-flex toptext align-items-center">
                                <div class="icon mr-2 d-flex justify-content-center align-items-center"><i class="fa fa-phone" style="color:white" aria-hidden="true"></i></div>
                                    <span class="text">+ 1235 2355 98</span>
                                </div>
                                <div class="col-md pr-4 d-flex toptext align-items-center">
                                    <div class="icon mr-2 d-flex justify-content-center align-items-center"><i class="fa fa-paper-plane" style="color:white" aria-hidden="true"></i></div>
                                        <span class="text">youremail@email.com</span>
                                    </div>
                                    <div class="col-md-5 pr-4 d-flex toptext align-items-center text-lg-right">
                                        <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light co-navbar-light navbar-fixed-top" id="co-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">Vegefoods</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class = "navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="{% url 'index'  %}" class="nav-link">Home</a>
                        </li>
                        <li class = "nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{% url 'shop' %}">Shop</a>
                                <a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a>
                                <a class="dropdown-item" href="{% url 'cart' %}">Cart</a>
                                <a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact'%}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item cta cta-colored">
                            <a href="{% url 'cart' %}" class="nav-link">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    [{{ cart_items_count }}]
                            </a>
                        </li>
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a href="!#" onclick="signout(event)" class="nav-link logoutlink">Logout</a>                                
                            {% else %}
                                 <a href="{% url 'loginandregister' %}" class="nav-link loginlink">SignIn/SignUp</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block base %}
            
        {% endblock  %}
        <section class="co-section co-no-pt co-no-pb bg-light">
            <div class="container py-4">
                <div class="row d-flex justify-content-center py-5">
                    <div class="col-md-6">
                        <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                        <span>Get e-mail updates about our latest shops and special offers</span>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer class = "co-footer co-section">
            <div class = "container">
                <div class = "row">
                    <div class = "mouse">
                        <a href="#header-data" class="mouse-icon">
                            <div class="mouse-wheel">
                               <i class="fa fa-angle-up" style="color:white" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-md">
                        <div class = "co-footer-widget mb-4">
                            <h2 class="co-heading-2">Vegefoods</h2>
                            <p>Vegefoods.com is America’s largest online grocery store. With over 1,000 products and over a 10 brands in our catalogue you will find everything you are looking for. 
                    Right from fresh Fruits and Vegetables, Beverages, Drie Fruits – we have it all</p>
                            <ul class="co-footer-social list-unstyled float-md-left float-lft mt-5">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li >
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class = "col-md">
                        <div class = "co-footer-widget mb-4 ml-md-5">
                            <h2 class="co-heading-2">Menu</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'index' %}" class="py-2 d-block">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop'%}" class="py-2 d-block">Shop</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}" class="py-2 d-block">About</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" class="py-2 d-block">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="co-footer-widget mb-4">
                            <h2 class="co-heading-2">Have a Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li>
                                        <a href= "#">
                                            <i class="icon fa fa-map-marker" aria-hidden="true"></i>
                                            <span class="text">198 West 21th Street, Suite 721 New York NY 10016</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon fa fa-phone" aria-hidden="true"></i>
                                            <span class="text">+2 392 3929 210</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon fa fa-envelope" aria-hidden="true"></i>
                                            <span class="text">info@vegfoods.com</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <div id="snackbar">
        <i>
            <img src="{% static 'media/medal.png' %}" style = "width: 34px;">
        <i>
        <span>Some text some message..</span>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>    
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/checkout.js'%}"></script>
    <script src="{% static 'js/login_signup.js'%}"></script>
    <script src="{% static 'js/wishlist.js'%}"></script>
    <script src="{% static 'js/contact.js'%}"></script>
</html>