.hero-wrap.hero-bread {
    padding: 10em 0;
}

.hero-wrap .slider-text {
    color: #fff;
    position: relative;
}

.hero-wrap .slider-text .bread {
    font-weight: 800;
    color: #fff;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

.cart-list {
    overflow-x: scroll;
}


