.hero-wrap.hero-bread {
    padding: 10em 0;
}

.hero-wrap .slider-text {
    color: #fff;
    position: relative;
}

.hero-wrap .slider-text .bread {
    font-weight: 800;
    color: #fff;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

.cart-list {
    overflow-x: scroll;
}

.table {
    min-width: 1000px !important;
    width: 100%;
    text-align: center;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}


th {
    text-align: inherit;
}

table .thead-primary {
    background: #82ae46;
}

.table th {
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table .thead-primary tr th {
    padding: 20px 10px;
    color: #fff !important;
    border: 1px solid transparent !important;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table tbody tr td {
    text-align: center !important;
    vertical-align: middle;
    padding: 40px 10px;
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.table tbody tr td.product-remove a {
    bordeR: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
    color: #000000;
    -webkit-text-stroke: 2px white;
}

.table tbody tr td.image-prod .img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.table tbody tr td.product-name {
    width: 30%;
}

.table tbody tr td.product-name h3 {
    font-size: 16px;
}

.table tbody tr td.total, .table tbody tr td.price {
    color: #000000;
}

.table tbody tr td.quantity {
    width: 20%;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

