.product-details h3{
    font-size: 30px;
    font-weight: 400;
}

.product-details .price span {
    font-size: 30px;
    color: #000000;
    font-weight:500;
}

.product-details button, .product-details .form-control {
    height: 40px !important;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #82ae46;
    padding: 10px 20px;
    background: transparent !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
}


.product-details .quantity-left-minus {
    background: transparent;
    padding: 0 15px;
}

.product-details button i {
    color: #000000;
}

.btn.btn-black {
    background: #000000;
    border: 1px solid #000000;
    color: #fff !important;
    border-radius: 50px;
}

.btn.btn-black:hover {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
}

@media(max-width:996px){
    .image-popup .img-fluid{        
        height: 370px;
    }
  }
