.header {
    padding-top: 2vh; 
    padding-bottom: 30vh;
    background-image: url("../src/night-sky-2008408_1920.jpg");
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  div {
    border: 0px black solid;
  }
  input[type="text"]
{
    background: transparent;
    border:0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:25px;
    border-radius: 25px;
    color: white;
}

.search-box{
  border-radius:25px;
  height:25px;
  width:15px;
  border:1px white solid
}

.fa-search{
  color:white;
}

input[type="text"]::placeholder { /* Firefox, Chrome, Opera */ 
  color: white; 
  align-content: center;
} 

input[type="text"]::-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: white; 
  align-content: center;
} 

input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */ 
  color: white; 
  align-content: center;
} 
  /*.navbar {max-height:50px !important;}*/




input[type="text"]:hover, 
input[type="text"]:focus, 
input[type="text"]:active  {
  background: transparent;
  color: white;
  outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.icon{
  width:120px;
  height:120px;
  position: absolute;
  margin:-62px 0 0 125px;
 
}

.cool-link {
  display: inline-block;
  color: black;
}

.cool-link:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ef3e3b;
  color:#ef3e3b;
  text-decoration: underline #ef3e3b;
  
}

.cool-link::after {
  width: 100%;
}

.custom-nav
{
  font-size: 25;
  font-weight: 100;
  color:#ef3e3b;
}

.nav-link:hover{
  color: #ef3e3b;
}
.active:hover{
  color:#ef3e3b;
}
.active::after{
  color:#ef3e3b;
}
.active.cool-link{
 color: #ef3e3b;
}

.information{
  margin:4px 0 0 105px;
}

.imagecontainer {
  padding-left:0vh;
  padding-right:30vh;  
  display: grid;
  grid-template-columns:auto auto auto auto ;
  grid-template-rows: auto auto auto ;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  padding-top:2vh;
}
.rounded{
  justify-self: start;
  width:160px;
  height:100px;
}

.fa-twitter{
  color:#38A1F3;
}
.fa-facebook-square{
  color: #4267b2;
}

.fa-instagram{
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-linkedin-square{
  color:#0077B5;
}

.row.remove-margin{
  margin-right: 0;
}