<html>
    <head>
        <title>Chat App </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="../static/styles/index.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
           
       <div class="row" id="chatapp">
           <div class="col-sm-4 col-md-4">
               <div class="row">
                <div class="col-sm-12 col-md-12" >
                <div class="accordion" id="accordionExample" >
                        <div class="card">
                          <div  style="padding-bottom: 1vh;background: #2C3E50"onclick="changeIcon()" id="headingOne" data-toggle="collapse" data-target="#collapseOne"  aria-controls="collapseOne">
                              <div style="display:inline-block" >
                               <a class="navbar-brand align-bottom" href="#" style="padding-left:7vh;">                                 
                                    {% if imagepath|length > 0 %}
                                    <img id="userPhoto" src="{{imagepath}}" width="50" height="50" class="rounded-circle" alt="" style=" border: 2px solid #2EC16E;">
                                    {% else %}
                                    <img id="userPhoto"src="../static/images/image1.jpg" width="50" height="50" class="rounded-circle" alt="" style=" border: 2px solid #2EC16E;">
                                    {% endif %}
                                    <span style="vertical-align:bottom;padding-left:2vh;">{{name}}</span>                                   
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row"> 
                    <div class="col-sm-12 col-md-12" style="background:#32465A">
                            <form class=" my-2 my-lg-0" style="padding-left:2vh">
                                    <div class="input-group search-box" style="height:38px;padding-left: 5vh;">
                                      <span id="searchIcon" class="input-group-addon" id="start-date" style="font-size: 0.5rem;"><span class="fa fa-search fa-2x"
                                          style="padding-top:1.89vh;padding-left:1vh;"></span></span>
                                      <input id="searchbar" type="text" class="form-control searchBox"  style="height:38px" placeholder="Search contacts ..." aria-describedby="start-date">
                                    </div>
                            
                                  </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card panel panel-primary">
                                <div class="panel-body" style="max-height:79vh;overflow-y: auto;" id="contactList">
                                <ul class="list-group list-group-flush " id="contactList">
                                    
                                </ul>
                                </div>
                              </div>
                            </div>
                </div>
                <div  class="row">
                    <div  class="col-sm-12 col-md-12 bg-dark" style="float:center;padding-bottom:0;">
                      <div id="footer" style="width:34.7%">
                        <button onmouseover="changeBackgroundcolor(this)" onmouseleave="this.style.background='#32465A'" class="raised" style="background:#32465A;display:inline-block;text-align: center;width: 47%;padding-top: 1vh;padding-bottom: 1vh;margin-left: 2vh;" data-toggle="modal" data-target="#addContactsModalCenter" onclick="selectNewContacts()">
                            <span style="color:white">Add new Contact</span>
                        </button>
                        <button onmouseover="changeBackgroundcolor(this)" onmouseleave="this.style.background='#32465A'" class="raised" style="background:#32465A;display:inline-block;text-align:center;width:48%;padding-top: 1vh;padding-bottom: 1vh;padding-left: 0vh;margin-left: -1vh;">
                            <span style="color:white">Add New Group</span>
                        </button>
                      </div>
                    </div>
                </div>
           </div>
           <div class="col-sm-8 col-md-8">
              <nav class="navbar navbar-light bg-light" style="padding-top:0vh;padding-bottom:1vh">
                  <a class="navbar-brand" href="#">
                    {% if imagepath|length > 0 %}
                    <img src="{{imagepath}}" width="50" height="50" class="rounded-circle" alt="">
                    {% else %}
                    <img src="../static/images/image1.jpg" width="50" height="50" class="rounded-circle" alt="">
                    {% endif %}
                    <span id="loggedinUserName">{{name}}</span>
                   
                  </a>
                  <button class="btn btn-success  my-2 my-sm-0" style="float: right;"onclick="logOut()">Logout</button>
                </nav>
                <div class="panel-body" style="max-height:84vh;overflow-y: auto;" id="messages">
                  <div class="card">
                    <ul class="list-group list-group-flush" id="messagesList">
                     <!-- <li class="list-group-item">
                        <div style="display: inline-block;vertical-align: top">
                            <img src="./src/images/image1.jpg" width="25" height="25" class="rounded-circle" alt="">
                        </div>
                        <div style="display:inline-block;padding-left: 2vh"> 
                            <textarea rows="1" cols="55">When you're backed against the wall, break the god damn thing down.</textarea>
                        </div>
                      </li>
                      <li class="list-group-item" style="text-align:right;">
                          <div style="display: inline-block;padding-right: 2vh">
                              <textarea rows="1" cols="55" style="text-align:right;background:white;color:black">jasldkjasljdlkjas sdsadljaskdlasjdlajsd ?</textarea>
                          </div>
                          <div style="display:inline-block;vertical-align: top"> 
                              <img src="./src/images/image1.jpg" width="25" height="25" class="rounded-circle" alt="">
                          </div>
                      </li>
                      <li class="list-group-item">Vestibulum at eros</li>-->
                    </ul>
                  </div>
                </div>
                <div id="footer" style="width:67%;" class="input-group">
                    <input id="messageTyped" type="text" class="form-control" size="10"  placeholder="Write ..." aria-describedby="start-date">
                    <input id='fileid' type='file' hidden/>
                    <span onclick="attachment()" style="padding-left:2vh;padding-right:2vh;background-color: white;"><i class="fa fa-paperclip fa-lg"style="padding-top:11"></i></span>
                    <span onclick="postMessage()" style="padding-left:1vh;padding-right:2vh;background:#3f3b3b"><i class="fa fa-paper-plane-o fa-lg" style="color:white;padding-top: 11"></i></span>
                </div>
           </div>

       </div>
    </body>

     <!--model for add contacts-->
     <div class="modal fade" id="addContactsModalCenter" tabindex="-1" role="dialog" aria-labelledby="addContactsModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center;">Friends List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table id="tableDisplayContacs" > 
              
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="FriendsListToAdd=[]">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss = "modal" onclick="addFriendsListAsContacts()">Add them to Contacts</button>
          </div>
        </div>
      </div>
    </div>

    <div id="loadingSpinner" style="position: absolute;
    top: 30%;
    right: 40%;
    width: 150px;
    height: 150px;"><div class="spinner-triple"></div></div>
    <script type="text/javascript" src="../static/scripts/FileSaver.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js"> </script>
</html>