html, body
{
  height: 100%;
  margin:0;
  padding:0;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
  opacity: 0.5;
}

.login {
  background: rgba(12, 139, 40, 2);
}

#exampleInputEmail1 {
  border-radius: 25px;
}
#exampleInputPassword1 {
  border-radius: 25px;
}

#exampleInputPassword2 {
  border-radius: 25px;
}
.btnsignin {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 25px;
}

@keyframes slide {
  from
  {
  }
  to 
  {
    top: 10%;
  }
}

/* #login_overlay_mainContainer
{
  width: 25%;
} */

.animated {
  animation-duration: 2s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

#login_overlay
{
  padding:4% 0; 
  cursor: pointer;
}

#login_overlay > a > i
{
  padding-right:1%;
}
#login_overlay:hover
{
  color: rgb(223, 223, 223);
}

#login_overlay > a > span
{
  font-size: bold;
}

#login_overlay_Card
{
  color:black;
}

#login_overlay_Card > h5
{
  margin: 0;
  padding: 0;
  padding: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #4C4477;
}


@media (min-width: 576px) 
{
  #login_overlay_mainContainer
{
  width: 70%;
}

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #login_overlay_mainContainer
{
  width: 55%;
}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #login_overlay_mainContainer
{
  width: 42%;
}
}

@media (min-width: 1650px) { 
  #login_overlay_mainContainer
{
  width: 30%;
}
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{
  #login_overlay_mainContainer
  {
    width: 25%;
  }
}