#about p.leading {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
}
#about .separator {
    content: '';
    width: 250px;
    height: 2px;
    background: #e2011b;
    margin: 20px auto 20px;
}
#about {
    padding: 100px 0;
}

#about p {
    font-size: 20px;
}

#contact {
    background: #f2f2f2;
    padding: 100px 0 0;
}
#contact .theme-content {
    background: #f2f2f2;
}
.theme-content {
    margin-top: 0px;
}
.theme-content-padding-lg {
    padding: 30px 60px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
#contact h1 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 500;
}

#contact h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #e2011b;
    margin-top: 10px;
    margin-bottom: 20px;
}

.theme-paragraph-with-icon {
    font-size: 20px;
}

.theme-paragraph-with-icon {
    position: relative;
    padding-left: 40px;
}

.theme-hours {
    display: inline-block;
}

.theme-hours .theme-day {
    min-width: 100px;
    margin-right: 15px;
    display: inline-block;
    text-align: right;
}

.theme-footer {
    background-color: #f2f2f2;
    margin: 0px;
    color: #ffffff;
}

.theme-footer-inner {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.theme-hours .theme-hour {
    display: inline-block;
}