.menu.navbar{
    background: white !important;
}
.menu>.nav-item.active {
    background-color: black !important;
}

.menu > .nav-item > a{
    color: black !important;
    font-weight: 600;
    font-size: 20px;
}
.menu > .nav-item.active > a{
    color: white !important;
}

.theme-product-group{
    padding: 20px;
    margin-bottom: 15px;
    background: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
} 
.theme-product-group-center{
    text-align: center;
}

.theme-product-group-name {
    color: #000000;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.theme-product-name {
    color: #333333;
    font-size: 20px;
    font-weight: 300;
}

.theme-product-desc {
    font-size: 16px;
    color: #666666;
}

.theme-price {
    color: #e2011b;
    font-size: 28px;
}

.order-button {
    width: 90%;
    background-color: black;
    color: white;
}

.card-placing{
    margin-left:-2vw;
    margin-bottom: 15vh;
}

#menu-items{
position: sticky;
top: 0px;
z-index: 10;
}