{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if profile.username %}
        <div style="width: 98%;
    border: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;">
        <div style="font-size:7vh;padding-left:1vw">Profile Details</div>
        <hr>
        <h2 style = "padding-left:1vw">username:{{profile.username}}</h2>                
        <label style="font-weight:500;padding-left:1vw">Followers:</label> <span> {{profile.countOfFollowers}}</span>
        <br>
        <label style="font-weight:500;padding-left:1vw">Following:</label> <span> {{profile.countOfFollowing}}</span>
        {% if user.is_authenticated %}
            {% if profile.username != user.username %}  
                <div style="text-align:end">          
                {% if user.username in  profile.followers%}
                    <button style="background-color:white;border:1px solid black;margin-right: 1vw;border-radius: 5px;margin-bottom: 1vh;" onclick="addOrRemoveFollowers('{{profile.username}}','unfollow')">UnFollow</button>
                {% else %}
                    <button style="background-color:white;border:1px solid black;margin-right: 1vw;border-radius: 5px;margin-bottom: 1vh;" onclick="addOrRemoveFollowers('{{profile.username}}','follow')">Follow</button>
                {% endif %}
                </div>
            {% endif %}        
        {% endif %}
    </div>
    {% endif %}
    {% for  post in posts %}
        <div style="width: 98%;
    border: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;">
            <div style="background-color: lightgrey;padding-left:1vw">
                <a href="/posts/{{post.user.id}}">{{post.user.username}}</a>
            </div>
            <span style="font-size:85%;padding-left:1vw;">{{post.createdDate}}</span>
            <br>
            <p style="padding-left: 1vw;padding-top: 1vh;margin-bottom: 1vh;" id="display{{post.id}}">{{post.text}}</p>
            <div id="editpost{{post.id}}" style="display:none">
            <textarea style="height:30vh;width:98%;" id="newpost{{post.id}}">
                {{post.text}}
            </textarea>
            <br>
            <button class="btn btn-primary" onclick="submitNewPost({{post.id}})">POST</button>
            </div>
            {% if user.is_authenticated %}
                {% if request.user.username ==  post.user.username%}
                    <button style="background-color:white;border:1px solid black;margin-left: 1vw;border-radius: 5px;margin-bottom: 1vh;" id="edit{{post.id}}" onclick="displayedit({{post.id}})">Edit</button>
                {% else %}      
                    {% if post.likes > 0 %}
                        <i id="likebutton{{post.id}}" style="padding-left:1vw;color:red" class="fa fa-heart" aria-hidden="true" onclick="increaselikes({{post.id}})"> </i> <span> {{post.likes}}</span>   
                    {% else %}
                        <i id="likebutton{{post.id}}" style="padding-left:1vw" class="fa fa-heart" aria-hidden="true" onclick="increaselikes({{post.id}})"> </i> <span> {{post.likes}}</span>   
                    {% endif %}              
                {% endif %}
            {% else %}
                <span style="padding-left:1vw">likes : {{post.likes}}</span>
            {% endif %}
            
        </div>
    {% endfor %}        
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
           {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
           {% endif %}  
           {% for pageno in pagenumbers %}
            {% if pageno == posts.number %}
            <li class="page-item active"><a class="page-link" href="?page={{pageno}}">{{pageno}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pageno}}">{{pageno}}</a></li>
            {% endif %}
                       {% endfor %}          
            {% if posts.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
            </li>
            {% endif %}            
        </ul>
    </nav>    
{% endblock %}