{% extends "base.html" %}
{% block base %}
{% load mathfilters %}
{% load static %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'media/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp co-animated">
                <h1 class="mb-0 bread">MY CART</h1>
            </div>
        </div>
    </div>
</div>
<section class = "co-section">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12 fadeInUp co-animated">
                <div class = "cart-list">
                    <table class = "table">
                        <thead class = "thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>Product List</th>
                                <th>&nbsp;</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cartitems %} 
                            <tr class = "text-center" id = "{{item.item.id}}">
                                <td class = "product-remove">
                                    <a href="#" onclick ="addOrRemoveItemToCart(event,'{{item.item.name}}','Remove',Number(document.getElementById('quantity_{{item.item.id}}').value))">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="image-prod">
                                    <div class="img" style="background-image:url({{item.item.image.url}});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>{{item.item.name}}</h3>
                                </td>
                                <td class="price">${{item.item.price}}</td>
                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input id="quantity_{{item.item.id}}" onchange="quantityChanged(event,{{item.item.id}},'{{item.item.name}}',{{item.item.price}})"type="text" name="quantity" class="quantity form-control input-number text-center" value="{{item.quantity}}" min="1" max="100">
                                    </div>
                                </td>
                                <td class="total">${{item.totalcost}}</td>
                            </tr>
                        {% endfor %}
                             <!--<tr class = "text-center">
                                <td class = "product-remove">
                                    <a href="#">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="image-prod">
                                    <div class="img" style="background-image:url({% static 'media/product-1.jpg' %});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>Bell Pepper</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>
                                <td class="price">$4.90</td>
                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity" class="quantity form-control input-number text-center" value="1" min="1" max="100">
                                    </div>
                                </td>
                                <td class="total">$4.90</td>
                            </tr>-->
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
        <div class = "row justify-content-start">
            <div class="col-lg-4 mt-5 cart-wrap fadeInUp co-animated">
                <div class="cart-total mb-3">
                    <h3>Coupon Code</h3>
                    <p>Enter your coupon code if you have one</p>
                    <form action="#" class="info">
                        <div class="form-group">
                            <label for="">Coupon code</label>
                            <input id="CouponCode" type="text"  class="form-control text-left px-3" placeholder="">
                        </div>
                    </form>
                </div>
                <p><a href="!#" onclick="validateEnteredCoupon(event)"class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap fadeInUp co-animated">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span id="Subtotal">${{subtotal}}</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span id="Delivery">${{delivery}}</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span id="Discount">${{discount}}</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span id="Finaltotal">${{subtotal|add:10}}</span>
                    </p>
                </div>
                <p>
                    <a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}