{% extends "base.html" %}
{% block base %}
{% load mathfilters %}
{% load static %}
{% csrf_token %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'media/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp co-animated">
                <h1 class="mb-0 bread">CHECKOUT</h1>
            </div>
        </div>
    </div>
</div>
<section class = "co-section">
    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-xl-7 fadeInUp co-animated">
                <form action="#" class="billing-form" id="BillingDetails">
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class = "row align-items-end">
                        <div class = "col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input id="firstname" name="firstname" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input id="lastname" name="lastname" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetaddress">Street Address</label>
                                <input id="housenumber" name="housenumber" type="text" class="form-control" placeholder="House number and street name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="appartmentnumber" name="appartmentnumber" type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="towncity">Town / City</label>
                                <input id="Town" name="Town" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postcodezip">Postcode / ZIP *</label>
                                <input id="Zip" name="Zip" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Email Address</label>
                                <input id="email" name="email" type="text" class="form-control" placeholder="">
                            </div>
                        </div>                        
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group mt-4">
                                 <label for="comments">Comments</label>
                                 <textarea id="comments" name="comments" rows="5" type="text" class="form-control commentsection" placeholder="" ></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class = "col-xl-5">
                <div class = "row mt-5 pt-3">
                    <div class = "col-md-12 d-flex mb-5">
                        <div class = "cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Cart Total</h3>
                            <p class="d-flex">
                                <span>Subtotal</span>
                                <span>${{subtotal}}</span>
                            </p>
                            <p class="d-flex">
                                <span>Delivery</span>
                                <span>${{delivery}}</span>
                            </p>
                            <p class="d-flex">
                                <span>Discount</span>
                                <span>${{discount}}</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>${{subtotal|add:delivery|sub:discount}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4 payment-details">
                            <h3 class="billing-heading mb-4">Payment Method</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input id="banktransfer" type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input id="bankcheck"type="radio" name="optradio" class="mr-2"> Check Payment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input id="paypal" type="radio" name="optradio" class="mr-2"> Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input id="termsandcondition" type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                            <p><a href="!#" onclick="placetheorder(event)" class="btn btn-primary py-3 px-4">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}