{% extends "base.html" %}
{% block base %}
{% load static %}
    <section id = "home-section" class = "hero">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="height:650px">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                            <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
                                <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>                        
                            </div>
                        </div>
                    </div>
                    <img class="d-block w-100" style="height:650px;object-fit: cover;" src="{% static 'media/bg_1.jpg' %}" alt="First slide">                    
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                            <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
                                <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>                        
                            </div>
                        </div>
                    </div>
                    <img class="d-block w-100" style="height:650px;object-fit: cover;" src="{% static 'media/bg_2.jpg' %}" alt="Second slide">                    
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                            <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
                                <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>                        
                            </div>
                        </div>
                    </div>
                    <img class="d-block w-100" style="height:650px;object-fit: cover;" src="{% static 'media/bg_1.jpg' %}" alt="Third slide">                    
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                            <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
                                <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>                        
                            </div>
                        </div>
                    </div>
                    <img class="d-block w-100" style="height:650px;object-fit: cover;" src="{% static 'media/bg_2.jpg' %}" alt="Third slide">                    
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class = "co-section">
        <div class = "container">
            <div class = "row no-guters co-services">
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                             <img src="{% static 'media/truck.svg' %}" >
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-2 active d-flex justify-content-center align-items-center mb-2">
                            <img src="{% static 'media/food.svg' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <img src="{% static 'media/award.svg' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class = "col-md-3 text-center d-flex align-self-stretch fadeInUp co-animated">
                    <div class = "media block-6 services mb-md-0 mb-4">
                        <div class = "icon bg-color-2 active d-flex justify-content-center align-items-center mb-2">
                             <img src="{% static 'media/support.svg' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class = "co-section co-category co-no-pt">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-8">
                    <div class = "row">
                        <div class = "col-md-6 order-md-last align-items-stretch d-flex">
                            <div class="category-wrap-2 img align-self-stretch d-flex fadeInUp co-animated" style="background-image: url({% static 'media/category.jpg' %});">
                                <div class="text text-center">
                                    <h2>Vegetables</h2>
                                    <p>Protect the health of every home</p>
                                    <p><a href="{% url 'shop' %}" class="btn btn-primary">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="category-wrap  img mb-4 d-flex align-items-end fadeInUp co-animated" style="background-image: url({% static 'media/category-2.webp' %});">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Fruits</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap img d-flex align-items-end fadeInUp co-animated" style="background-image: url({% static 'media/bg_1.jpg' %});">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Vegetables</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-wrap img mb-4 d-flex align-items-end fadeInUp co-animated" style="background-image: url({% static 'media/category-3.jpg' %});">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Juices</a></h2>
                        </div>
                    </div>
                    <div class="category-wrap img d-flex align-items-end fadeInUp co-animated" style="background-image: url({% static 'media/category-4.jpg' %});">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Dried</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class = "co-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center fadeInUp co-animated">
                    <span class="subheading">Featured Products</span>
                    <h2 class="mb-4">Our Products</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            {% for item in featured %} 
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="{% url 'shopitem' item.id %}" class="img-prod">
                            <img class="img-fluid" src="{{ item.image.url }}" alt="Colorlib Template">
                            <span class="status">{{item.offer}}% OFF</span>                            
                            <div class="overlay"></div>
                        </a>
                        <span class="wishlist" onclick="addOrRemoveToWishlist(event,{{item.id}},'add')">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                        </span>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="{% url 'shopitem' item.id %}">{{item.name}}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                    {% if item.offer > 0 %}
                                        <span class="mr-2 price-dc">${{item.price}}</span>
                                        <span class="price-sale">${{item.saleprice}}</span>
                                    {% else %}
                                        <span class="price-sale no-offer">${{item.saleprice}}</span>
                                    {% endif %}   
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span onclick="addOrRemoveItemToCart(event,'{{item.name}}','Add',1)" >Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    {% if dealoftheday is not None %}
    <section class = "co-section img" style = "background-image: url({{dealoftheday.image.url}});">
        <div class = "container">
            <div class = "row justify-content-end">
                <div class="col-md-6 heading-section deal-of-the-day fadeInUp co-animated">
                    <span class="subheading">Best Price For You</span>
                    <h2 class="mb-4">Deal of the day</h2>
                    <p>{{dealoftheday.description}}</p>
                    <h3>
                        <a href="#">{{dealoftheday.name}}</a>
                    </h3>
                    <span class="price">
                        ${{dealoftheday.price}} 
                        <a href="#">now ${{dealoftheday.saleprice}} only</a>
                    </span>
                    <input type="datetime" id="dealenddate" value = "{{dealoftheday.dealenddate |date:'Y-m-d H:m:s'}}" style="visibility:hidden">
                    <div id="timer" class="d-flex mt-5">
                        <div class="time" id="days">-241<span>Days</span></div>
                        <div class="time pl-3" id="hours">15<span>Hours</span></div>
                        <div class="time pl-3" id="minutes">27<span>Minutes</span></div>
                        <div class="time pl-3" id="seconds">41<span>Seconds</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    
    <section class = "co-section testimony-section">
        <div class = "container">
            <div class = "row justify-content-center mb-5 pb-3">
                <div class= "col-md-7 heading-section text-center fadeInUp co-animated">
                    <span class="subheading">Testimony</span>
                    <h2 class="mb-4">Our satisfied customer says</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                </diV>
            </div>
            <div class = "row fadeInUp co-animated">
                <div class = "col-md-12">
                    <div class = "owl-carousel owl-theme">   
                    {% for comment in comments %}
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">{{comment.comment}}</p>                                                
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                        <!--<div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>                                                
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>                                                
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">                                            
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>                                                
                                </div>
                            </div>
                        </div> -->           
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}