{% extends "base.html" %}
{% block base %}
{% load static %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'media/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp co-animated">
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>
<section class = "co-section">
    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="!#" class="active">All</a></li>
                    <li><a href="!#">Vegetables</a></li>
                    <li><a href="!#">Fruits</a></li>
                    <li><a href="!#">Juice</a></li>
                    <li><a href="!#">Dried</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-1.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Bell Pepper</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-2.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">STRAWBERRY</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-3.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">GREEN PEAS</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-4.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">PURPPLE CABBAGE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-5.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">TOMATOE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-6.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">BROCOLLI</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-7.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">CARROTS</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-8.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">FRUIT JUICE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-8.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">FRUIT JUICE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-8.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">FRUIT JUICE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-8.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">FRUIT JUICE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 fadeInUp co-animated">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="{% static 'media/product-8.jpg' %}" alt="Colorlib Template">
                            <span class="status">30% OFF</span>
                            <span class="wishlist">
                                <i class="fa fa-heart" aria-hidden="true" style="visibility:hidden;position: absolute;padding-top: 5px;"></i>
                                <i class="fa fa-heart-o" aria-hidden="true" ></i>
                            </span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">FRUIT JUICE</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">$120.00</span>
                                        <span class="price-sale">$80.00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">                                    
                                    <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                                        <span>Add <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}