#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;    
    text-align: center;    
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 20;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    background-color: rgb(140, 255, 26, 0.9);
    color: rgb(0, 179, 0);
    border:1px solid green;
  }
  
  #snackbar.error {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    background-color: rgb(255, 102, 102);
    color:rgb(240, 46, 12);
    border:1px solid red;
  }
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }