<html>

<head>
    <meta charset="utf-8" />
    <title>Bibilo Ethica</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/login.css') }}" />
</head>

<body>
    <div>
        <nav class="navbar bg-transparent">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='images/bibiloethca.png')}}" width="auto" height="70" alt="Bibilo-ethica">
            </a>
        </nav>

        <div class="overlay animated">
            <div class="container-fluid">
                <div class="row align-item-center" style="padding:2.5% 0 1.5% 0;">
                    <div class="col-12">
                        <img id="title" src="/static/images/bibiloethca.png">
                    </div>
                </div>
                <div class="row justify-content-center" style="padding:0;">
                    <div id="login_overlay_mainContainer" class="col-auto">
                        <div id="login_overlay" class="text-left" onclick="backToIndex()">
                            <a>
                                <i class="fas fa-chevron-left"></i>
                                <span>Back</span>
                            </a>
                        </div>

                        <div id="login_overlay_Card" class="card text-left">
                            <h5 class="card-header">GET STARTED</h5>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2500">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid carousel_bg" src="/static/images/transparent.png" style="background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5), 
                      rgba(0, 0, 0, 0.5)
                    ),
                    url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80');" alt="library_image_carousel" />
                </div>
                <div class="carousel-item">
                    <img class="img-fluid carousel_bg" src="/static/images/transparent.png" style="background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5), 
                      rgba(0, 0, 0, 0.5)
                    ),url('https://images.unsplash.com/photo-1495741545814-2d7f4d75ea09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80');" alt="library_image_carousel" />
                </div>
                <div class="carousel-item">
                    <img class="img-fluid carousel_bg" src="/static/images/transparent.png" style="background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5), 
                      rgba(0, 0, 0, 0.5)
                    ),url('https://images.unsplash.com/photo-1534774592507-488885376ad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');" alt="library_image_carousel" />
                </div>
                <div class="carousel-item">
                    <img class="img-fluid carousel_bg" src="/static/images/transparent.png" style="background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5), 
                      rgba(0, 0, 0, 0.5)
                    ),url('https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');" alt="library_image_carousel" />
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function backToIndex() {
        history.back();
    }
    $(document).ready(function() {
        setTimeout(function() {
            console.log("after 2 sec");
            $("#signup").css({
                visibility: "visible"
            });
            $("#signup").addClass("w3-animate-opacity");
        }, 1400);
    });

    $(".card").on("click", "#register", function() {
        $("h5").text("Register");
        $("#signup").removeClass("w3-animate-opacity");
        $("#signup").addClass("w3-animate-top");
        console.log("register clicked 1");
        $("#confirmpassword").append(
            "<div><label for='exampleInputPassword2'>Confirm Password</label><input type='password' class='form-control' id='exampleInputPassword2'placeholder='Password' data-toggle='popover' data-trigger='focus' title='Password Error' data-content='Password does not match'></div>"
        );
        $("#footer").remove("");
    });

    $("#register").click(function() {
        $("h5").text("Register");
        console.log("register clicked");
        $("#signup").removeClass("w3-animate-opacity");
        $("#signup").addClass("w3-animate-top");
        $("#exampleInputPassword1").val("");
        $("#confirmpassword").append(
            "<div><label for='exampleInputPassword2'>Confirm Password</label><input type='password' class='form-control' id='exampleInputPassword2'placeholder='Password' data-toggle='popover' data-trigger='focus' title='Password Error' data-content='Password does not match'></div>"
        );
        $("#footer").remove("");
    });

    (function() {
        "use strict";
        window.addEventListener(
            "load",
            function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName("needs-validation");
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener(
                        "submit",
                        function(event) {
                            form.classList.remove("was-validated");
                            if (
                                form.checkValidity() === false ||
                                (document.getElementById("exampleInputPassword2") != null &&
                                    document.getElementById("exampleInputPassword2").value !=
                                    document.getElementById("exampleInputPassword1").value)
                            ) {
                                if (
                                    document.getElementById("exampleInputPassword2").value !=
                                    document.getElementById("exampleInputPassword1").value
                                )
                                    $("#exampleInputPassword2").popover("show");

                                console.log("testing password error");
                                form.classList.add("is-invalid");
                                event.preventDefault();
                                event.stopPropagation();
                            } else {
                                event.preventDefault();
                                event.stopPropagation();
                                console.log("click 1");
                                console.log(
                                    document.getElementById("exampleInputPassword1").value
                                );
                                if (!$("#register").length) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/books/register",
                                        contentType: "application/json",
                                        dataType: "json",
                                        data: JSON.stringify({
                                            username: $("#exampleInputEmail1").val(),
                                            password: $("#exampleInputPassword1").val(),
                                            confirmpassword: $("#exampleInputPassword2").val()
                                        }),
                                        success: function(response) {
                                            console.log(response);
                                            form.classList.add("was-validated");
                                            $(".card").append(
                                                " <div class='card-footer' id='footer'><div class='row'><div class='col-md-7 col-sm-7' style='text-align:left'><a href='#'>forgot password</a></div><div class='col-md-5 col-sm-5' style='text-align:right'><a href='#' id='register'>register</a></div></div>"
                                            );
                                            $("h5").text("Login");
                                            form.classList.add("was-validated");
                                            $("#signup").removeClass("w3-animate-top");
                                            $("#signup").addClass("w3-animate-opacity");
                                            $("#footer").css({
                                                visibility: "visible"
                                            });
                                            $("#confirmpassword div").remove();
                                            $("#exampleInputPassword1").val("");
                                        },
                                        error: function(response) {
                                            console.log(response);
                                            alert(response["responseText"]);
                                            $("#exampleInputEmail1").val("");
                                            $("#exampleInputPassword1").val("");
                                            $("#exampleInputPassword2").val("");
                                        }
                                    });
                                } else {
                                    $.ajax({
                                        type: "POST",
                                        url: "/books/signin",
                                        contentType: "application/json",
                                        dataType: "json",
                                        data: JSON.stringify({
                                            username: $("#exampleInputEmail1").val(),
                                            password: $("#exampleInputPassword1").val()
                                        }),
                                        success: function(response) {
                                            console.log(response);
                                            form.classList.add("was-validated");
                                            setTimeout(function() {
                                                window.location.href = "Searchpage.html";
                                            }, 1);
                                        },
                                        error: function(response) {
                                            $("#signup").removeClass("w3-animate-opacity");
                                            setTimeout(function() {
                                                $("#signup").addClass("w3-animate-opacity");
                                                $("h5").text("Register");
                                                $("#exampleInputPassword1").val("");
                                                $("#exampleInputPassword1").val("");
                                                $("#confirmpassword").append(
                                                    "<div><label for='exampleInputPassword2'>Confirm Password</label><input type='password' class='form-control' id='exampleInputPassword2'placeholder='Password' data-toggle='popover' data-trigger='focus' title='Password Error' data-content='Password does not match'></div>"
                                                );
                                                $("#footer").remove("");
                                            }, 200);

                                            console.log(response);
                                        }
                                    });
                                }
                            }
                        },
                        false
                    );
                });
            },
            false
        );
    })();
</script>

</html>