{% extends "encyclopedia/layout.html" %}

{% block title %}
   {{title}}
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    {% if entryname %}
        <form action="{% url 'edit_page' entryname %}" method="POST">
        {% csrf_token %}
            <h3>Title: {{entryname}}</h3>
            <input style="display:none" name="entryname" value="{{entryname}}"/>
            <lable style="font-weight: 600;font-size: 22px;">Content:</lable>
            <textarea style="height:50vh;width:98%;margin-top: 1vw;margin-bottom: 1vw;" name="content" placeholder=" Enter the Markdown content for the page" >{{content}}</textarea>
            <button class="btn btn-primary">Save New Page</button>
        </form>
    {% else %}
        <form action="{% url 'create_page' %}" method="POST">
        {% csrf_token %}        
            <lable style="font-weight: 600;font-size: 22px;">Title:</lable>
            <input style="width:98%;margin-top: 1vw; margin-bottom: 1vw;" name="entryname" placeholder="Enter the Title"value="{{entryname}}"/>        
            <lable style="font-weight: 600;font-size: 22px;">Content:</lable>
            <textarea style="height:50vh;width:98%;margin-top: 1vw;margin-bottom: 1vw;" name="content" placeholder=" Enter the Markdown content for the page" >{{content}}</textarea>
            <button class="btn btn-primary">Save New Page</button>
        </form>
    {% endif %}
{% endblock %}