
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #82ae46;
}

.slider-text h1 {
    font-size: 8vw;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    font-family: "Amatic SC", cursive;
    position: absolute;
    z-index: 10;
}

.co-services .services {
    display: block;
    width: 100%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.co-services .services .icon {
    line-height: 1.3;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.bg-color-1 {
    background: #e4b2d6;
}

.bg-color-2 {
    background: #dcc698;
}

.bg-color-3 {
    background: #a2d1e1;
}

.bg-color-4 {
    background: #dcd691;
}

.co-services .services .media-body {
    width: 100%;
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.co-services .services .icon span {
    font-size: 50px;
    color: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.co-services .services .icon:after {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.19);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.co-services .services .icon img{
    height:5vh;
}

.co-services .services:hover .icon, .co-services .services:focus .icon {
    background: #82ae46;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.co-category .category-wrap {
    display: block;
    width: 100%;
    height: 250px;
}

.co-category .category-wrap-2 {
    width: 100%;
}

.co-category .category-wrap-2 .text {
    width: 100%;
}

.hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.co-category .category-wrap .text {
    background: #82ae46;
}
.pl-3, .px-3 {
    padding-left: 1rem !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}
.pt-1, .py-1 {
    padding-top: 0.25rem !important;
}

.co-category .category-wrap-2 .text h2 {
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-size: 24px;
}

.co-category .category-wrap .text h2 {
    font-size: 18px;
    font-family: "Poppins", Arial, sans-serif;    
}

.co-category .category-wrap .text h2 a {
    color: #fff;
    pointer-events: none;
    text-decoration: none;
}

.btn.btn-primary {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
    border-radius: 50px 50px 50px 50px;
}

.btn.btn-primary:hover {
    border: 1px solid #82ae46;
    background: transparent;
    color: #82ae46;
    border-radius: 50px 50px 50px 50px;
}

.heading-section {
    position: relative;
}

.heading-section .subheading {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
}

.heading-section h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
}

.product {
    display: block;
    width: 100%;
    height:320px;
    margin-bottom: 30px;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #f0f0f0;
}

.product .img-prod {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
}

.product .img-prod img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.img-fluid {
    max-width: 100%;
    height: 24vh;
    padding-top: 2vh;
    margin-bottom: -1vh;
}

.product:hover .wishlist{
    visibility: visible;
}

.wishlist:hover .fa-heart{
   visibility: visible !important;
}

.wishlist:hover .fa-heart-o{
   visibility: hidden;
}

.wishlist{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 10px;
    color:#82ae46;    
    font-size: 20px;
    visibility: hidden;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 10;
}

.product .img-prod span.status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    color: #fff;
    font-weight: 300;
    background: #82ae46;
    font-size: 16px;
}

.product:hover {
    -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
}

.product .text h3 {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", Arial, sans-serif;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -ms-transition: all s ease;
    transition: all 0s ease;
}

.product:hover .text h3 {
    font-size: 15px;
}
.product .img-prod .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: #82ae46;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product .text {
    background: #fff;
    position: relative;
    width: 100%;
}

.product .text .pricing {
    width: 100%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product:hover .text .pricing .price-dc {
    visibility: hidden;
}

.product:hover .pricing .price-sale.no-offer{
    padding-left: 80px !important;
    padding-right: 0vw;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product .text p.price {
    margin-bottom: 0;
    color: #82ae46;
    font-weight: 400;
}

.product .text p.price span.price-dc {
    text-decoration: line-through;
    color: #b3b3b3;
}

.product .text p.price span.price-sale {
    color: #82ae46;
    padding-left: 40px;
}

.product .pricing .price-sale.no-offer{
    padding-left: 0vw !important;
    padding-right: 1vw;
}

.product:hover .text .bottom-area {
    opacity: 1;
}

.product .text .bottom-area {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product .img-prod:hover img, .product .img-prod:focus img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.product .text .bottom-area a {
    color: #fff;
    width: 100%;
    background: #82ae46;    
    margin-right: 7vh !important;
}

.deal-of-the-day h3 {
    font-size: 30px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
}

.deal-of-the-day h3 a {
    color: #82ae46;
}

.deal-of-the-day .price {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

#timer {
    width: 80%;
}

#timer .time:first-child{
    border-left: transparent;
}
#timer .time{
    width:25%;
    font-size:40px;
    font-weight:500;
    border-left:1px solid rgba(0, 0, 0, 0.5);
    color: #82ae46;
}

#timer .time span {
    font-size: 12px;
    display: block;
    color: #000000;
    text-transform: uppercase; 
}

.testimony-section {
    position: relative;
}

.testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
}

.testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section .owl-nav:hover{
    opacity: 1;
}

.testimony-section .owl-nav{
    opacity: 0;
}

.testimony-section .owl-nav .owl-prev, .testimony-section .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -19px;
    outline: none !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev span:hover, .testimony-section .owl-nav .owl-next span:hover{         
    color: black;
}

.testimony-section .owl-nav .owl-prev span, .testimony-section .owl-nav .owl-next span{        
    font-size: 60px;
    font-weight: 300;
    color: grey;
}

.testimony-section .owl-nav .owl-prev span:before, .testimony-section .owl-nav .owl-next span:before {
    color: rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.testimony-section .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    background: #b3b3b3;
}

.testimony-section .owl-dots .owl-dot.active {
    background: #82ae46;
}

.testimony-section .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
}

.testimony-wrap {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.testimony-wrap .line {
    position: relative;
    border-left: 1px solid #e6e6e6;
}

.testimony-wrap .line:after {
    position: absolute;
    top: 50%;
    left: -2px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 3px;
    height: 30px;
    background: #82ae46;
}

@media(max-width:996px){
    .product .img-prod{
        text-align: center;
    }

    .product .text p.price span.price-sale {
        padding-left: 7vw;
    }
}