.login-signup-heading {
    font-size: 24px;
    text-align: center;
}

.login-form p {
    text-align: center;
}

.login-form p a {
    width: 50%;
}

.register-form p {
    text-align: center;
}

.register-form p a {
    width: 50%;
}

#ErrorSection p {
    border: 1px solid red;
    padding: 1.5rem;
    text-align: center;
}

#ErrorSection p span {
    color: red;
    font-size: 20px;
    font-family: serif;
}