<html>

<head>
  <meta charset="utf-8">
  <title>Bibilo Ethica</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
  <link rel="stylesheet" href="../static/stylesheet/details.css">
</head>

<body>

  <div>
    <nav class="navbar navbar-light bg-light nav justify-content-end nav-pills">
      <li class="nav-item">
        <a class="btn btn-success" href="Searchpage.html" role="button">Back</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger " href="index.html" role="button">Logout</a>
      </li>
    </nav>
  </div>

  <div id="titile" class=" animated text-center ">
    <img src="../static/images/bibiloethca.png">
  </div>

  <div class="row" id="jumbotroncontainer">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="row" style="background:white;">
        <div class="col-md-6 col-sm-6 text-center">
          <img src="{{image}}" alt="..." style="width:200px; height:200px;" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-6">
          <div style="padding-top:7vh">
            <span>
              ISBN number : {{test[1]}}
            </span>
            <br>
            <span>
              Title : {{test[2]}}
            </span>
            <br>
            <span>
              Author :  {{test[3]}}
            </span>
            <br>
            <span>
              Publication Year : {{test[4]}}
            </span>
            <br>
            <span>
              Rating :  {{rating}}
            </span>
          </div>
        </div>
      </div>
      <br>
      {% for comment in comments %}
      <div class="row" style="background:white;">
        <div class="col-md-2 col-sm-2 my-auto justify-content-center h-100 d-flex">
          <img src="../static/images/userimage.png" alt="..." style="width:50px; height:50px;border-radius:50px">
        </div>
        <div class="col-md-10 col-sm-10">
          <div style="padding-top:1vh;"><span>
              <h3 class="d-inline">{{comment[0]}}</h3>&nbsp; &nbsp; <span style="font-size: 12px;">-- {{comment[3]}}
              </span>
            </span></div>
          
          <span>
             <input id="input-1" name="input-1" class="rating rating-loading" value="{{comment[2]}}" data-min="0"
              data-max="5" data-step="0.5" data-readonly="true" data-size="xm" data-show-clear="false"
              data-show-caption="false" >
          </span>
          
          <p style="padding-top:2vh;padding-bottom:1vh;">
            {{comment[1]}}
          </p>
        </div>
      </div>
      {% endfor %}
      {% if not isusercommentedbefore %}
      <br>
      <div class="row" style="background:white;">
        <div class="col-sm-12 col-md-12">
          <h3> Your Comments</h3>
          <span>
            <h5>Rating: </h5>
            <input id="input-2" name="input-2" class="rating rating-loading" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs" data-show-caption="false">
          </span>
           
          <div class="form-group" style="padding-top:2vh">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="7" id="comment" placeholder="comment"></textarea>
          </div>

          <div class="form-group" style="padding-bottom: 1vh;">
            <button type="buton" id="submitRequest" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
      <br>
      {% endif %}
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>

</body>
<script>
$(document).ready(function () {

    $('#title').css({ 'padding-top': '3vh' });
    console.log(("#input-2").attr("value"));
  });

$("#submitRequest").click(function(){
 var rating =  Number(document.getElementById("input-2").value);
 var comment = document.getElementById("comment").value;
 var isbn = window.location.search.substring(1).split("=")[1];
 requestRating({isbn:"isbn:"+isbn,rating:rating,comment:comment});
});

function requestRating(data){
  $.ajax({
    type: 'POST',
    url: "/books/comment",
    data:data,
    dataType:"json",
    success: (data)=>{location.reload(true)},
    error:(data)=>{ alert(JSON.parse(data.responseText).error);}
});
}
function successPost(data){
  location.reload(true);
}
</script>

</html>