{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <div class="container theme-content theme-content-padding-lg">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
            	            <h1>Book a table</h1>
                        </div>
                    </div>
                    <form name="f" action="#" method="POST" id="formBookTable">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <div class="form-group" id="dateForm">
						            <label class="control-label">Date *</label>
						            <input type="date" name="toDate" class="form-control _reservation-delivery-date">	
                                    <span class="help-block" hidden>Field is required</span>					
					            </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" id="timeForm">
						            <label class="control-label">Time *</label>
						                <select name="toTime" class="form-control _reservation-delivery-time">
                                        {% for time in timelist %}
                                         <option hidden>{{time}}</option>
                                        {% endfor %}                                    
						    	        </select>
                                        <span class="help-block" hidden>Field is required</span>
						        </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
					            <div class="form-group" id="peopleForm">
						            <label class="control-label">People *</label>
						            <select name="people" class="form-control">
						    	        <option value="">- select -</option>
                                        {% for index in personsList %}
                                        <option>{{index}} person </option>
                                        {% endfor %}                                                                
                                    </select>
                                    <span class="help-block" hidden>Field is required</span>						
					            </div>
				            </div>
                        </div>
                        <div class ="row" hidden id="userdetail">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <div class="form-group" id="firstNameForm">
						            <label class="control-label">First name *</label>
						            <input type="text" name="firstName" value="" class="form-control">
						            <span class="help-block" hidden>Field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" id="lastNameForm">
						            <label class="control-label">Last name *</label>
						            <input type="text" name="lastName" value="" class="form-control">
						            <span class="help-block" hidden>Field is required</span>
						        </div>
                            </div>
                        </div>
                        <div class ="row" hidden id="contactdetail">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <div class="form-group" id="emailForm">
						            <label class="control-label">Email *</label>
						            <input type="email" name="email" value="" class="form-control">
                                    <span class="help-block" hidden>Field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" id="phoneForm">
						            <label class="control-label">Phone *</label>
                                    <input type="tel" id="phone" name="phone" class="form-control">
						            <span class="help-block" hidden>Field is required</span>
						        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
					            <a href="#!" class="btn btn-upmenu btn-block btn-lg _booking-form-submit" onclick="submitbookTable()">Book a table</a>
				            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}