{% extends "base.html" %}
{% block content %}
{% load static %}
   <div id="about">
      <div class="container padding">
         <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
               <p class="leading">EXCLUSIVELY FRESH INGREDIENTS</p>
                  <div class="separator"></div>
                     <!-- do not remove this yet <p style="white-space:pre-wrap">  {{displayContent}} </p>-->
                     <p>In our kitchen we make sure that the dishes are prepared only from the highest quality products. Thanks to this, our pizza is a delicacy that can not be resisted!</p>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <div>
     <img src = "{% static 'displayImage.jpg' %}" style="width:100%;height:300px;object-fit:cover">
   </div>
{% endblock  %}