{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="row" style="margin-right:0px !important" >
        <div class="col-sm-9 col-md-9" id="menu-header">
            <nav class="menu navbar navbar-expand-lg navbar-light bg-light" id="menu-items"> 
                <ul class="nav nav-pills menu mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#pizza" id="pizza">Pizza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subs">Subs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pasta">Pasta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#salads">Salads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#DinnerPlatters">Dinner Platters</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-9 col-md-9">          
          <div class="col-sm-12 col-md-12" id = "pizza">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Pizza</div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for pizza in pizzas %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if pizza.image.url is not None %}
                        <img src="{{pizza.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %} 
                            <div class="text-center">
                                <h5 class="theme-product-name">{{pizza.name}}</h5>
                                    <p class="theme-product-desc">
                                            {{pizza.toppings}} <br>
                                        <span class="theme-price">
                                            ${{pizza.price}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>  
          <div class="col-sm-12 col-md-12" id = "subs">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Subs</div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for sub in subs %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if sub.image.url is not None %}
                        <img src="{{sub.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}                        
                            <div class="text-center">
                                <h5 class="theme-product-name">{{sub.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{sub.smallprice}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>
          <div class="col-sm-12 col-md-12" id = "pasta">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Pasta</div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for pasta in pastas %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if pasta.image.url is not None %}
                        <img src="{{pasta.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}                        
                            <div class="text-center">
                                <h5 class="theme-product-name">{{pasta.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{pasta.price}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>
           <div class="col-sm-12 col-md-12" id = "salads">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Salads</div>
                </div>
          </div> 
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for salad in salads %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if salad.image.url is not None %}
                        <img src="{{salad.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}
                            <div class="text-center">
                                <h5 class="theme-product-name">{{salad.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{salad.price}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>
          <div class="col-sm-12 col-md-12" id = "DinnerPlatters">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Dinner Platters</div>
                </div>
          </div> 
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for dinnerplatter in dinnerplatters %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if dinnerplatter.image.url is not None %}
                        <img src="{{dinnerplatter.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}
                            <div class="text-center">
                                <h5 class="theme-product-name">{{dinnerplatter.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{dinnerplatter.smallprice}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div> 
        </div>              
        <div class="col-sm-3 col-md-3">
            <div class="cart-wrapper theme-cart-mini-context theme-context-wrapper hidden-xs m-b">	       
		        <div class="dropdown" style="float:right">
                    <a onclick="myFunction()" class="dropbtn">Account <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#!">Sign in</a>
                        <a href="#!">Register</a>
                    </div>
                </div>
                <h4 class="text-ellipsis">Pinocchio's</h4>
                <p class="text-ellipsis">74 Winthrop Street</p>
            </div>
            <div class="cart hidden-xs">
                <div class="theme-cart-inner">
                    <h4>Your order</h4>
                    <!-- Do Not Remove the Below part it is for empty cart-->
                    <!--<div class="text-center"><img src="/media/empty-cart.png" class="theme-empty-cart-img"></div>
				    <div class="text-center" style="opacity: 0.4;">Cart is empty. Add menu items.<br><br></div>
                    <div class="_cart-info"></div>-->
                    <ul class="cart-items-scrollable list-unstyled">
						<li>
							<div>
								<span class="quantity">1 x</span>
								<span class="name">
									Capriciosa 
								</span>
                                <div class="price">
								    <div>
									    $22.00									
									    <div>
										    <a href="#" id="b33c465a-b96e-11ea-be50-525400080321" class="decrease-cart-item cart-icon btn plus theme-plus pull-right">−</a>
										    <a href="#" id="b33c465a-b96e-11ea-be50-525400080321" class="increase-cart-item cart-icon btn plus theme-plus pull-right">+</a>
									    </div>
								    </div>
							    </div>
							</div>							
						</li>
						<li>
							<div>
								<span class="quantity">1 x</span>
								<span class="name">
									Pepperoni 
								</span>
								<div class="price">
								    <div>
									    $20.00
									
									    <div>
										    <a href="#" id="1f295ac2-b96f-11ea-be50-525400080321" class="decrease-cart-item cart-icon btn plus theme-plus pull-right">−</a>
										    <a href="#" id="1f295ac2-b96f-11ea-be50-525400080321" class="increase-cart-item cart-icon btn plus theme-plus pull-right">+</a>
									    </div>
								    </div>
							    </div>
							</div>							
						</li>
				    </ul>
                    <ul class="list-unstyled cart-summary">
                        <br>
				        <li class="clearfix total">
					        <div class="pull-right price">$42.00</div>
					        <div>TOTAL</div>
				        </li>
			        </ul>
            	</div>
                <a href="#" class="btn btn-upmenu btn-lg btn-block">
		                GO TO CHECKOUT <i class="fa fa-chevron-right"></i>
	            </a>
                <div class="m-t-sm small text-center">
			        <div class="theme-cart-min-order">
				        <div>Min. order $0.00</div>
			        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}