{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="row" style="margin-right:0px !important" >
        <div class="col-sm-9 col-md-9" id="menu-header">
            <nav class="menu navbar navbar-expand-lg navbar-light bg-light" id="menu-items"> 
                <ul class="nav nav-pills menu mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#pizza" id="pizza">Pizza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subs">Subs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pasta">Pasta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#salads">Salads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#DinnerPlatters">Dinner Platters</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-9 col-md-9">          
          <div class="col-sm-12 col-md-12" id = "pizza">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Pizza</div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for pizza in pizzas %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if pizza.image.url is not None %}
                        <img src="{{pizza.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %} 
                            <div class="text-center">
                                <h5 class="theme-product-name">{{pizza.name}}</h5>
                                    <p class="theme-product-desc">
                                            {{pizza.toppings}} <br>
                                        <span class="theme-price">
                                            ${{pizza.price}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button" onclick="order({{pizza.price}},'{{pizza.name}}',1,'pizza','{{pizza.toppings}}')">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>  
          <div class="col-sm-12 col-md-12" id = "subs">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Subs</div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for sub in subs %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if sub.image.url is not None %}
                        <img src="{{sub.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}                        
                            <div class="text-center">
                                <h5 class="theme-product-name">{{sub.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{sub.smallprice}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button"  onclick="order({{sub.smallprice}},'{{sub.name}}',1,'sub')">Orders</button>
                            </div>
                            <input style="display:none" type="text" id="{{sub.name}}_subsmall"value="{{sub.smallprice}}">
                            <input style="display:none" type="text" id="{{sub.name}}_sublarge"value="{{sub.largeprice}}">
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>
          <div class="col-sm-12 col-md-12" id = "pasta">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Pasta</div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for pasta in pastas %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if pasta.image.url is not None %}
                        <img src="{{pasta.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}                        
                            <div class="text-center">
                                <h5 class="theme-product-name">{{pasta.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{pasta.price}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button" onclick="order({{pasta.price}},'{{pasta.name}}',1,'pasta')">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>
           <div class="col-sm-12 col-md-12" id = "salads">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Salads</div>
                </div>
          </div> 
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for salad in salads %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if salad.image.url is not None %}
                        <img src="{{salad.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}
                            <div class="text-center">
                                <h5 class="theme-product-name">{{salad.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{salad.price}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button" onclick="order({{salad.price}},'{{salad.name}}',1,'salad')">Orders</button>
                            </div>
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div>
          <div class="col-sm-12 col-md-12" id = "DinnerPlatters">
                <div class="theme-product-group theme-product-group-center" >
                    <div class="theme-product-group-name">Dinner Platters</div>
                </div>
          </div> 
          <div class="col-sm-12 col-md-12">
            <div class="row" style="padding-left:8vw">
            {% for dinnerplatter in dinnerplatters %}
                <div class="col-sm-4 col-md-4 text-center card-placing">
                    <div>
                        {% if dinnerplatter.image.url is not None %}
                        <img src="{{dinnerplatter.image.url}}" alt="..." width="150" height="150">
                        {% else %}
                        <img src="{{blankimageurl}}" alt="..." width="150" height="150">
                        {% endif %}
                            <div class="text-center">
                                <h5 class="theme-product-name">{{dinnerplatter.name}}</h5>
                                    <p class="theme-product-desc">
                                        <span class="theme-price">
                                            ${{dinnerplatter.smallprice}}
                                        </span>
                                    </p>                                
                                <button class="btn btn-primary order-button" onclick="order({{dinnerplatter.smallprice}},'{{dinnerplatter.name}}',1,'dinnerplatter')">Orders</button>
                            </div>
                            <input style="display:none" type="text" id="{{dinnerplatter.name}}_dinnerplattersmall"value="{{dinnerplatter.smallprice}}">
                            <input style="display:none" type="text" id="{{dinnerplatter.name}}_dinnerplatterlarge"value="{{dinnerplatter.largeprice}}">
                    </div>              
                </div>
            {% endfor %} 
            </div>
          </div> 
        </div>              
        <div class="col-sm-3 col-md-3">
            <div class="cart-wrapper theme-cart-mini-context theme-context-wrapper hidden-xs m-b">	       
		        <div class="dropdown" id="Account" style="float:right">
                    <a onclick="myFunction()" class="dropbtn">Account <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#!" onclick="login()">Sign in</a>
                        <a href="#!" onclick="signup()">Register</a>
                    </div>
                </div>
                <div class="dropdown" id="Logout" style="float:right;display:none">
                    <a onclick="logout()" class="dropbtn"> Logout </a>
                </div>
                <h4 class="text-ellipsis">Pinocchio's</h4>
                <p class="text-ellipsis">74 Winthrop Street</p>
            </div>
            <div class="cart hidden-xs">
                <div class="theme-cart-inner">
                    <h4>Your order</h4>
                    <div id="noOrder">
                        <div class="text-center"><img src="/media/empty-cart.png" class="theme-empty-cart-img"></div>
				        <div class="text-center" style="opacity: 0.4;">Cart is empty. Add menu items.<br><br></div>
                        <div class="_cart-info"></div>
                    </div>
                    <div id= "orders">
                        <ul class="cart-items-scrollable list-unstyled">
                            <!--<li>
                                <div class="row" style="width:99%;margin-left:0px">
                                    <div class="col-sm-7 orderName">
                                        <span class="quantity">1 x </span>
                                        <span class="name">Margraite</span>
                                    </div>
                                    <div class="col-sm-4 price">
                                        <div>
                                            <span style="padding-left: 1.5vw;">$22.00</span>
                                            <div>
                                                <a href="#" class="decrease-cart-item cart-icon btn plus theme-plus pull-right">-</a>
                                                <a class="increase-cart-item cart-icon btn plus theme-plus pull-right" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "row" style="width:99%;margin-left:0px">                                    
                                        <button type="button" class="btn btn-primary selectToppingsButton" onclick="toppings()">
                                            Select Toppings
                                        </button>
                                </div>
                            </li>-->						    
				        </ul>
                        <ul class="list-unstyled cart-summary">
                            <br>
				            <li class="clearfix total">
					            <div class="pull-right price" id="totalprice">${{totalprice}}</div>
					            <div>TOTAL</div>
				            </li>
			            </ul>
                    </div>  
                </div>
                <a href="#!" class="btn btn-upmenu btn-lg btn-block" onclick="checkoutOrder()">
		                GO TO CHECKOUT <i class="fa fa-chevron-right"></i>
	            </a>
                <div class="m-t-sm small text-center">
			        <div class="theme-cart-min-order">
				        <div>Min. order $0.00</div>
			        </div>
                </div>
            </div>
        </div>
    </div>


    <!--modal-->
    <div class="modal" id="signupModal" style="z-index=20001;" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">	        
            <div class="modal-content" id="_cms-modal-narrow-content">
                <div class="modal-close">
		            <button type="button" id ="close" class="btn pull-right"><i class="fa fa-2x fa-times" aria-hidden="true" style="color:white"></i></button>
	            </div>
                <div class="modal-body">
		            <form name="f" action="#" method="POST" id="formLoginRegister">
                    {% csrf_token %}
		                <div class="row">			
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <label class="control-label" id="email">Email *</label>
                                    <input type="text" name="email" value="" class="form-control">                        
                                </div>
                            </div>
		                </div>
		                <div class="row">		
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <label class="control-label" id="password">Password *</label>
                                    <input type="password" name="password" value="" class="form-control">                        
                                </div>
                            </div>
                            <div class="col-sm-12" id="confirmpassword">
                                <div class="form-group ">
                                    <label class="control-label">Confirm password *</label>
                                    <input type="password" name="passwordConfirm" value="" class="form-control">                            
                                </div>
                            </div>
		                </div> 
                        <div class="alert alert-danger" id="errorMessage" style="display:none"></div>
                        <div class="row">
                            <div class="col-sm-12">
					            <button type="submit" class="btn btn-upmenu btn-block" id="submitButton">Finish registration</button> 
				            </div>
			            </div>		    
			            <div class="row" id="LoginRoute">		
                            <div class="col-sm-12">
                                <p class="text-center">
                                    <br><br>Already have an account?  <a href="#!" onclick="login()">Log in</a>
                                </p>
                            </div>
		                </div>
		            </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--/modal-->


    <!--modal-->
    <div class="modal" id = "toppingsModal" style="z-index = 20001;" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="_cms-modal-narrow-content">
                <div class="modal-close">
		            <button type="button" id ="closetoppings" class="btn pull-right"><i class="fa fa-2x fa-times" aria-hidden="true" style="color:white"></i></button>
	            </div>
                <div class="modal-body" style="max-height: 80vh;">
                    <form id="toppingsform">
                        {% for topping in toppings %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" >
                                <label class="form-check-label" for="defaultCheck1">
                                         {{topping.name}}
                                </label>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/modal-->

    <!--modal-->
    <div class="modal" id = "checkoutModal" style="z-index = 20001;" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="_cms-modal-narrow-content">
                <div class="modal-body">
                    <div class = "row">
                        <div class = "col-sm-8">
                            <form action="#" id="checkout-order-id" style="padding-left: 2vw;">
                                <div class="row">
                                <!--Payment-->
                                    <div class="col-sm-4">
                                        <div class="form-group ">
                                            <h4 class="control-label">Payment</h4>
                                            <div class="radio">
                                                <label class="control-label"><input type="radio" name="paymentType" value="CART" checked="checked"> Card</label>
                                            </div>
                                            <div class="radio">
                                                <label class="control-label"><input type="radio" name="paymentType" value="CASH"> Cash</label>
                                            </div>
                                        </div>
                                    </div>
                                <!--/Payment-->
                                <!-- DELIVERY TYPES -->
                                    <div class="col-sm-4">
                                        <div class="form-group "id ="orderType">
                                            <h4 class="control-label">Order type</h4>
                                            <div class="radio">
                                                <label class="control-label"><input type="radio" id="DELIVERY" name="deliveryType" value="DELIVERY" data-delivery-type="DELIVERY" checked="checked"> Delivery</label>
                                            </div>
                                            <div class="radio">
                                                <label class="control-label"><input type="radio" id="TAKEAWAY" name="deliveryType" value="TAKEAWAY" data-delivery-type="TAKEAWAY"> Pickup</label>
                                            </div>
                                        </div>
                                    </div>
                                <!-- DELIVERY TYPES -->
                                <!-- DELIVERY DATE-->
                                    <div class="col-sm-4">
                                        <div class="form-group " id="deliveryType">
                                            <h4 class="control-label">When</h4>
                                            <div class="radio">
                                                <label class="control-label"><input type="radio" name="deliveryTimeType" value="NOW" id="as-soon-as-possible" checked="checked"> As soon as possible</label>
                                            </div>
                                            <div class="radio">
                                                <label class="control-label"><input type="radio" name="deliveryTimeType" value="FUTURE" id="delivery-date"> Specific time</label>
                                            </div>
                                            <!-- TIME SELECT -->
                                            <div style="display: none;" id="delivery-date-field">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <input type="date" placeholder="Date" name="deliveryDate" id="delivery-date-input" value="" class="form-control hasDatepicker">
                                                        <select name="deliveryTime" placeholder="Godzina" class="form-control m-t" id="delivery-time-select" style="display: none;">
                                                            {% for time in timelist %}
                                                                <option hidden>{{time}}</option>
                                                            {% endfor %} 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="help-block" hidden>Set your preferred delivery time</div>
                                            <!-- TIME SELECT -->
                                        </div>
                                    </div>
                                <!-- /DELIVERY DATE-->
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p> </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row _order-address-group" id = "deliveryAddressDetails" style="display:flex">
                                            <div class="col-sm-8">
                                                <div class="form-group " id="streetForm">
                                                    <input type="text" name="street" value="" id="street" class="form-control " placeholder="Street *">
                                                    <div class="help-block" hidden>Field is required</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group " id="streetNumberForm">
                                                    <input type="text" name="streetNumber" value="" id="streetNumber" class="form-control " placeholder="No. *">
                                                    <div class="help-block" hidden>Field is required</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group " id="cityForm">
                                                    <input type="text" name="city" value="" id="city" class="form-control " placeholder="City *">
                                                    <div class="help-block" hidden>Field is required</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group " id="apartmentNumberForm">
                                                    <input type="text" name="apartmentNumber" value="" class="form-control " placeholder="Apt.  ">
                                                    <div class="help-block" hidden>Field is required</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group " id="floorNumberForm">
                                                    <input type="text" name="floorNumber" value="" class="form-control " placeholder="Floor ">
                                                    <div class="help-block" hidden>Field is required</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div style="border-bottom: 1px solid #efefef; margin-top: 5px; margin-bottom: 20px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group " id="firstNameForm">
                                                            <input type="text" name="firstName" value="" class="form-control " placeholder="First name *">
                                                            <div class="help-block" hidden>Field is required</div>             
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group " id = "lastNameForm">
                                                            <input type="text" name="lastName" value="" class="form-control " placeholder="Last name *">
                                                             <div class="help-block" hidden>Field is required</div>               
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group " id = "phoneForm">
                                                            <input type="tel" id="phone" name="phone" class="form-control">
                                                            <div class="help-block" hidden>Field is required</div>           
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group " id = "emailForm">
                                                            <input type="text" name="email" value="" class="form-control " placeholder="Email *">
                                                            <div class="help-block" hidden>Field is required</div> 
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group ">
                                                            <input type="text" name="companyName" value="" class="form-control " placeholder="Company name ">                                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class = "row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea name="comment" class="form-control " rows="2" placeholder="Comments"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="_order-form-errors" style="display:none">
                                        <div class="alert alert-danger">
                                            <p>Correct errors</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class = "col-sm-4">
                            <div class="_shopping-cart-container" id="_shopping-cart" data-hidden-errors="">
                                <div class="cart hidden-xs">
                                    <div class="theme-cart-inner">
                                        <h4>Your order</h4>
                                        <ul class="cart-items-scrollable list-unstyled" id="final order">
						                    <!--<li>
                                                <div>
								                    <span class="quantity">2 x</span>
								                    <span class="name">Regina </span>
                                                    <div class="price" style="padding-bottom:1vh;right:-5vw">
								                        <div>$58.00</div>
                                                    </div>
								                    <div>
								                    	<p style="font-size: 96%;font-weight: 500;">Cheese, Oliver, Ham</p>
								                    </div>								                    
							                    </div>                                                
                                            </li>-->
                                        </ul>
                                        <ul class="list-unstyled cart-summary">
                                            <li class="clearfix total">
					                                <div class="pull-right price" id="finalTotalCost"></div>
					                                <div>TOTAL</div>
				                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="help-block pull-left hidden-xs" id="summaryError">* These fields are required</div>
                    <a href="#!" class="btn btn-lg btn-default hidden-xs" onclick="clearOrderForm();" data-dismiss="modal">Cancel</a>
                    <a href="#!" class="btn btn-lg btn-upmenu hidden-xs pull-right _order-form-submit" data-online-payment-title="Proceed to payment" data-offline-payment-title="Create order" onclick="submitFinalCheckOutOrder()">Create order</a>
                </div>
            </div>            
        </div>
    </div>
    <!--/modal-->

{% endblock  %}